* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
}

#header {
    height: 80px;
    width: auto;
    /* border-bottom: 1px solid darkgrey; */
    display: flex;
    align-items: center;
    background-color: white;
    z-index: 1;
}

header {
    height: 180px;
    width: auto;
    position: sticky;
    top: 0;
}

#img1 {
    height: 35px;
    width: 110px;
    background-image: url(../download.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 80px;
    /* border: 1px solid black; */
}

#navtop {
    height: 45px;
    width: 400px;
    /* border: 1px solid black; */
    margin-left: 350px;

    /* border-radius: 150px; */
    display: flex;
    align-items: center;
    /* box-shadow: 0px 0px 5px gray; */
}

.text {
    height: 30px;
    width: auto;
    /* border: 1px solid black; */
    text-align: center;
    padding-top: 5px;
    padding-left: 40px;
    font-size: 15px;
    /* border-right: 1px solid rgb(152, 151, 151); */

}

.text:hover {
    text-decoration: underline;
}

#new {
    height: 60px;
    width: 1000px;
    border: 1px black solid;
}

.slogo {
    height: 35px;
    width: 35px;
    /* border: 1px solid black; */
    border-radius: 100%;
    margin-left: 5px;
    background-color: #FF385C;
    text-align: center;
    padding-top: 9px;
}

#text {
    height: 40px;
    width: 150px;
    /* border: 1px solid black; */
    text-align: center;
    padding-top: 10px;
    margin-left: 200px;
    border-radius: 100px;
}

#text:hover {
    background-color: rgb(237, 233, 233);
}

#globe:hover {
    background-color: rgb(237, 233, 233);
}

#globe {
    height: 35px;
    width: 35px;
    /* border: 1px solid black; */
    text-align: center;
    padding-top: 9px;
    margin-left: 20px;
    border-radius: 100%;
}

#login {
    height: 40px;
    width: 70px;
    border: 0.2px solid gray;
    border-radius: 100px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

#user {
    color: gray;
}

#login:hover {
    box-shadow: 0px 0px 3px gray;
}

#ptsearch {
    height: 75px;
    width: auto;
    position: sticky;
    top: 60px;
    background-color: white
}

#search {
    height: 65px;
    width: 850px;
    border: 0.5px #c4bdbe solid;
    margin-left: 350px;
    border-radius: 150px;
    display: flex;
    align-items: center;
    /* box-shadow: 0px 0px 4px gray; */
    background-color: white;
}



#navtext1 {
    padding-left: 30px;
    padding-bottom: 35px;
    width: 350px;
    height: 30px;
    border-right: 0.5px #c4bdbe solid;
}

#navtext2 {
    padding-left: 25px;
    width: 120px;
    padding-bottom: 35px;
    height: 30px;
    /* border-right: 1px black solid; */
}

#navtext3 {
    padding-left: 20px;
    padding-bottom: 35px;
    width: 120px;
    height: 30px;
    border-left: 0.5px #c4bdbe solid;
    border-right: 0.5px #c4bdbe solid;
}

#navtext4 {
    padding-left: 20px;
    padding-bottom: 35px;
    height: 30px;
    width: 140px;
}

.slogo {
    margin-left: 65px;
    width: 40px;
    height: 40px;
}

.icon-1 {
    padding: 3px;
    align-self: center;
}

nav {
    height: 110px;
    width: 100%;
    background-color: white;
    position: sticky;
    top: 150px;
    /* padding-left: 50px; */
}

#option {
    height: 110px;
    width: 100%;
    /* background-color: aquamarine; */
    align-items: center;
    display: flex;
}

#icon {
    height: 110px;
    width: 1130px;
    /* background-color: aqua; */
    display: flex;
}

.icons {
    height: 110px;
    width: 100px;
    /* border: 1px black solid; */
    position: relative;
    left: 50px;
    text-decoration: none;
    color: black;
}

.icons:hover {
    border-bottom: 2px solid gray;

}

img {
    height: 25px;
    /* border: 1px black solid; */
    position: absolute;
    left: 37.5px;
    top: 35px;
    color: gray;

}

.name {
    height: 40px;
    width: 100%;
    /* border: 1px black solid; */
    margin-top: 70px;
    text-align: center;
    font-size: 12px;
}

#filter {
    height: 45px;
    width: 80px;
    border: 1px solid rgb(178, 178, 178);
    /* padding-top: 12px; */
    display: flex;
    border-radius: 10px;
    align-items: center;
    justify-content: space-evenly;
}

#display {
    height: 45px;
    width: 220px;
    border: 1px solid rgb(178, 178, 178);
    margin-left: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#span {
    font-size: 30px;
}


#main-content {
    height: auto;
    width: 90vw;
    margin:0 auto;
    /* background-color: chocolate; */
    /* display: grid;
    grid-template-columns: 320px 320px 320px 320px;
    grid-template-rows: 400px;
    align-content: space-between;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: repeat(4,320px);
    grid-template-rows: auto;
    gap: 2rem;
    row-gap: 3rem;
}

.parent {
    height: 400px;
    width: 320px;
    /* border: 1px solid black; */
}

.child1 {
    height: 320px;
    width: 320px;
    /* border: 1px solid red; */
    border-radius: 15px;
    background-size: cover;
    background-repeat: no-repeat;
}

.love {
    margin-top: 18px;
    margin-left: 280px;
    font-size: 22px;
}

.child2 {
    height: 100px;
    width: 320px;
    /* border: 1px solid black; */
    line-height: 1.5;
    padding-left: 10px;
}

#con {
    height: 30px;
    width: auto;
    text-align: center;

}

#show {
    height: 48px;
    width: 140px;
    border: 1px solid black;
    margin: 10px auto;
    text-align: center;
    padding-top: 14px;
    background-color: black;
    color: aliceblue;
    border-radius: 10px;
}

footer {
    height: 760px;
    width: auto;
    background-color: whitesmoke;
}

#f1 {
    display: flex;
    height: 40px;
    width: 80%;
    /* border: 1px black solid; */
    margin-left: 78px;
}

.popular {
    height: 40px;
    width: 100px;
    /* border: 1px solid black; */
    font-size: medium;
    text-align: center;
    padding-top: 8px;
    color: gray;
}

.popular:hover {
    border-bottom: 3px black solid;
}

#f2 {
    height: 200px;
    width: 87%;
    /* background-color: aquamarine; */
    margin: 10px auto;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px 200px;
    grid-template-rows: 70px 70px 70px;
    align-content: space-between;
    justify-content: space-between;
}

.lowerfooter {
    /* border: 1px solid black; */
    line-height: 1.3;
    font-size: 15px;
}

.textcolor {
    color: gray;
}

#f3 {
    height: 270px;
    width: 87%;
    /* background-color: blue; */
    margin: 10px auto;
    display: grid;
    grid-template-columns: 420px 420px 420px;
    grid-template-rows: 200px;
    align-content: space-between;
    justify-content: space-between;

}

.childf3 {
    /* border: 1px solid black; */
    line-height: 2;
}

.f31 {
    color: gray;

}

.f31:hover {
    text-decoration: underline;

}

#f4 {
    height: 30px;
    width: 87%;
    /* border: 1px solid black; */
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}

#f41 {
    height: 28px;
    width: 50%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
}

#f42 {
    height: 28px;
    width: 30%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
}